In [5]:
import pandas as pd

In [8]:
pd.read_csv("10_7_Data_Collection.csv", encoding='unicode_escape')

,ID,Crosswalk location,reading 1,reading 2,reading 3,reading 4,Direction,GPS
0,1A,Olin-East Dr,34.00,NaN,NaN,NaN,West,"42ø17'29.8"" N 71ø15'49"" W"
1,1B,Olin-East Dr,0.40,NaN,NaN,NaN,East,"42ø17'29.8"" N 71ø15'49"" W"
2,2A,Lilja Elementary School-Beacon,0.90,0.87,NaN,NaN,West,"42ø17'40.5""N 71ø19'39.2""W"
3,2B,Lilja Elementary School-Beacon,1.46,1.20,NaN,NaN,East,"42ø17'40.5""N 71ø19'39.2""W"
4,3A,Oak-Jennings Pond,3.50,4.20,NaN,NaN,North,"42ø18'00.3""N 71ø19'50.9""W"
5,3B,Oak-Jennings Pond,0.16,0.16,NaN,NaN,South,"42ø18'00.3""N 71ø19'50.9""W"
6,4A,royal smoke,3.20,2.20,NaN,NaN,West,"42ø18'13.1""N 71ø19'54.6""W"
7,4B,NaN,4.92,5.10,NaN,NaN,East,"42ø18'13.1""N 71ø19'54.6""W"
8,5A,near school again,1.10,1.41,NaN,NaN,South,"42ø17'40.2""N 71ø19'43.3""W"
9,5B,NaN,1.85,1.57,NaN,NaN,North,"42ø17'40.2""N 71ø19'43.3""W"
10,6A,near school again long way,1.20,0.90,NaN,NaN,West,"42ø17'39.8""N 71ø19'42.8""W"
11,6B,NaN,2.44,2.56,NaN,NaN,East,"42ø17'39.8""N 71ø19'42.8""W"
12,7A,next to school,3.18,3.91,NaN,NaN,West,"42ø17'41.2""N 71ø19'37.7""W"
13,7B,NaN,9.10,8.21,NaN,NaN,East,"42ø17'41.2""N 71ø19'37.7""W"
14,8A,Wellesley,0.73,1.06,NaN,NaN,North-West,"42ø17'41.7""N 71ø18'35.0""W"
15,8B,NaN,0.97,0.33,NaN,NaN,South-East,"42ø17'41.7""N 71ø18'35.0""W"
16,9A,Wellesley center milk money,8.93,9.93,10.39,12.89,West,"42ø17'45.4""N 71ø17'52.8""W"
17,9B,NaN,14.95,17.50,18.22,NaN,East,"42ø17'45.4""N 71ø17'52.8""W"
18,10A,Wellesley center Washington St,2.27,2.15,NaN,NaN,North-East,"42ø17'46.4""N 71ø17'35.0""W"
19,10B,NaN,6.42,7.30,NaN,NaN,South-West,"42ø17'46.4""N 71ø17'35.0""W"